openapi: 3.0.1
info:
  description: DNS API documentation
  title: AdGuard DNS API
  version: "1.15"
servers:
- url: https://api.adguard-dns.io
security:
- AuthToken: []
- ApiKey: []
tags:
- description: |
    Operations for obtaining and managing OAuth2 access tokens.
    Supports three grant types: password with optional 2FA, refresh token, and authorization code with PKCE.
    Use these endpoints to authenticate users and manage session lifecycle.
  name: Authentication
- description: |
    Operations for managing dedicated IPv4 addresses.
    A dedicated IP address provides a static DNS resolution endpoint for the account.
    Supports listing allocated addresses and allocating new ones.
  name: Dedicated IP addresses
- description: |
    Operations for viewing and managing the DNS query log.
    The query log stores DNS resolution records with filtering, device, and domain information.
    Supports retrieving filtered query logs and clearing the log history.
  name: Query log
- description: |
    Operations for retrieving DNS query statistics.
    Statistics provide aggregated data about DNS queries grouped by time, country, domain, device, company, and category.
    Supports time-bounded queries with optional filters and cursor-based pagination.
  name: Statistics
- description: |
    Operations for managing DNS server profiles.
    A DNS server profile defines filtering, parental control, and access settings for a group of devices.
    Supports creating, updating, removing DNS servers, managing their settings, and listing with pagination.
  name: DNS servers
- description: |
    Operations for retrieving account information.
    The account represents a user's subscription with associated limits and resources.
    Supports reading current usage and maximum values for devices, DNS servers, queries, and rules.
  name: Account
- description: |
    Operations for retrieving reference data used in DNS server configuration.
    Reference data includes filter lists for content blocking, web services for parental control,
    and filtering categories for content classification.
    Supports listing all available entries for each data type.
  name: Reference data
- description: |
    Operations for managing DNS client devices.
    A device represents a single client (phone, tablet, computer) connected to the account's DNS server.
    Supports listing, creating, updating, removing devices and managing their settings, dedicated IPs, and mobile configuration profiles.
  name: Devices
paths:
  /oapi/v1/account/limits:
    get:
      description: |
        Returns account limits for the current account.
        Use this endpoint to read current usage and maximum values before creating or updating resources.
      operationId: getAccountLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountLimits"
          description: Returns account limits
      summary: Gets account limits
      tags:
      - Account
  /oapi/v1/dedicated_addresses/ipv4:
    get:
      description: |
        Returns a list of dedicated IPv4 addresses allocated for the account.
        Use this endpoint to review available dedicated addresses before linking them to devices.
      operationId: listDedicatedIPv4Addresses
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/DedicatedIPv4Address"
                type: array
          description: Returns list of dedicated IPv4 addresses
      summary: Lists allocated dedicated IPv4 addresses
      tags:
      - Dedicated IP addresses
    post:
      description: |
        Allocates a new dedicated IPv4 address for the account.
        Use this endpoint when you need a static IP address for DNS resolution.
      operationId: allocateDedicatedIPv4Address
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedIPv4Address"
          description: New dedicated IPv4 allocated
        "429":
          description: Dedicated IPv4 count reached the limit
      summary: Allocates new dedicated IPv4
      tags:
      - Dedicated IP addresses
  /oapi/v1/devices:
    get:
      deprecated: true
      description: Method is deprecated and scheduled for removal in January 2027.
        Use the /oapi/v2 version instead.
      operationId: listDevices
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/Device"
                type: array
          description: Returns list of devices
      summary: Lists devices
      tags:
      - Devices
    post:
      description: |
        Creates a new device in the account.
        Provide the required device fields in the request body.
      operationId: createDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceCreate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: Device created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "429":
          description: Devices count reached the limit
      summary: Creates a new device
      tags:
      - Devices
  /oapi/v1/devices/{device_id}:
    delete:
      description: |
        Removes a device from the account.
        Use this endpoint to delete a device that is no longer needed.
      operationId: removeDevice
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Device removed
        "404":
          description: Device not found
      summary: Removes a device
      tags:
      - Devices
    get:
      description: |
        Returns details of a specific device.
        Use this endpoint to retrieve device configuration and DNS connection information.
      operationId: getDevice
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: Returns device details
        "404":
          description: Device not found
      summary: Gets a device by ID
      tags:
      - Devices
    put:
      description: |
        Updates a device with the provided fields.
        Only the specified fields will be modified.
      operationId: updateDevice
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceUpdate"
        required: true
      responses:
        "200":
          description: Device updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "404":
          description: Device not found
      summary: Updates a device
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/dedicated_addresses:
    get:
      description: |
        Returns dedicated IPv4 and IPv6 addresses assigned to a device.
        Use this endpoint to review dedicated addresses linked to a specific device.
      operationId: listDedicatedAddressesForDevice
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedIps"
          description: Returns dedicated IPv4 and IPv6 addresses
      summary: Lists dedicated IPv4 and IPv6 addresses for a device
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/dedicated_addresses/ipv4:
    delete:
      description: |
        Unlinks a dedicated IPv4 address from a device.
        Specify the IPv4 address to unlink as a query parameter.
      operationId: unlinkDedicatedIPv4Address
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      - description: Dedicated IPv4 to unlink
        explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Dedicated IPv4 unlinked from the device
        "404":
          description: Device or address not found
      summary: Unlinks dedicated IPv4 from the device
      tags:
      - Devices
    post:
      description: |
        Links a dedicated IPv4 address to a device.
        Provide the IPv4 address to link in the request body.
      operationId: linkDedicatedIPv4Address
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkDedicatedIPv4"
        required: true
      responses:
        "200":
          description: Dedicated IPv4 linked to the device
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "404":
          description: Device or address not found
        "429":
          description: Linked dedicated IPv4 count reached the limit
      summary: Links dedicated IPv4 to the device
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/doh.mobileconfig:
    get:
      description: |
        Generates and downloads a DNS-over-HTTPS .mobileconfig profile for the device.
        Use this file to configure AdGuard DNS on iOS devices.
        Optional parameters allow excluding specific Wi-Fi networks and domains.
      operationId: getDoHMobileConfig
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      - description: SSID list of Wi-Fi networks to exclude
        explode: true
        in: query
        name: exclude_wifi_networks
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Domain list to exclude from filtering
        explode: true
        in: query
        name: exclude_domain
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: DNS-over-HTTPS .mobileconfig profile
        "404":
          description: Device not found
      summary: Gets DNS-over-HTTPS .mobileconfig file
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/doh_password/reset:
    put:
      description: |
        Generates a new DNS-over-HTTPS password for a device.
        Use this endpoint to reset the password if it has been compromised or you want to rotate credentials.
      operationId: resetDOHPassword
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: DNS-over-HTTPS password reset
        "404":
          description: Device not found
      summary: Resets DNS-over-HTTPS password
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/dot.mobileconfig:
    get:
      description: |
        Generates and downloads a DNS-over-TLS .mobileconfig profile for the device.
        Use this file to configure AdGuard DNS on iOS devices.
        Optional parameters allow excluding specific Wi-Fi networks and domains.
      operationId: getDoTMobileConfig
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      - description: SSID list of Wi-Fi networks to exclude
        explode: true
        in: query
        name: exclude_wifi_networks
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Domain list to exclude from filtering
        explode: true
        in: query
        name: exclude_domain
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: DNS-over-TLS .mobileconfig profile
        "404":
          description: Device not found
      summary: Gets DNS-over-TLS .mobileconfig file
      tags:
      - Devices
  /oapi/v1/devices/{device_id}/settings:
    get:
      description: |
        Returns the current settings of a device, including protection and DNS-over-HTTPS authentication preferences.
      operationId: getDeviceSettings
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceSettings"
          description: Returns device settings
        "404":
          description: Device not found
      summary: Gets device settings
      tags:
      - Devices
    put:
      description: |
        Updates device settings such as protection status and DNS-over-HTTPS authentication mode.
        Provide the settings to update in the request body.
      operationId: updateDeviceSettings
      parameters:
      - explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceSettingsUpdate"
        required: true
      responses:
        "200":
          description: Device settings updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "404":
          description: Device not found
      summary: Updates device settings
      tags:
      - Devices
  /oapi/v1/dns_servers:
    get:
      deprecated: true
      description: Method is deprecated and scheduled for removal in January 2027.
        Use the /oapi/v2 version instead.
      operationId: listDNSServers
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/DNSServer"
                type: array
          description: Returns list of DNS servers
      summary: Lists DNS servers
      tags:
      - DNS servers
    post:
      description: |
        Creates a new DNS server.
        You can attach custom settings via the request body; otherwise the server will be created with default settings.
      operationId: createDNSServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DNSServerCreate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DNSServer"
          description: DNS server created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "429":
          description: DNS servers count reached the limit
      summary: Creates a new DNS server
      tags:
      - DNS servers
  /oapi/v1/dns_servers/{dns_server_id}:
    delete:
      description: |
        Removes a DNS server. All devices attached to this DNS server will be moved to the default DNS server.
        Deleting the default DNS server is forbidden.
      operationId: removeDNSServer
      parameters:
      - explode: false
        in: path
        name: dns_server_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: DNS server removed
        "404":
          description: DNS server not found
      summary: Removes a DNS server
      tags:
      - DNS servers
    get:
      description: |
        Returns details of a specific DNS server.
        Use this endpoint to retrieve DNS server configuration including its linked devices.
      operationId: getDNSServer
      parameters:
      - explode: false
        in: path
        name: dns_server_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DNSServer"
          description: Returns DNS server details
        "404":
          description: DNS server not found
      summary: Gets a DNS server by ID
      tags:
      - DNS servers
    put:
      description: |
        Updates a DNS server with the provided fields.
        Only the specified fields will be modified.
      operationId: updateDNSServer
      parameters:
      - explode: false
        in: path
        name: dns_server_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DNSServerUpdate"
        required: true
      responses:
        "200":
          description: DNS server updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "404":
          description: DNS server not found
      summary: Updates a DNS server
      tags:
      - DNS servers
  /oapi/v1/dns_servers/{dns_server_id}/settings:
    get:
      description: |
        Returns the current settings of a DNS server, including filtering, parental control, and access configuration.
        Use this endpoint to review the current configuration before making changes.
      operationId: getDNSServerSettings
      parameters:
      - explode: false
        in: path
        name: dns_server_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DNSServerSettings"
          description: Returns DNS server settings
        "404":
          description: DNS server not found
      summary: Gets DNS server settings
      tags:
      - DNS servers
    put:
      description: |
        Updates the settings of a DNS server, such as filtering, parental control, and access configuration.
        Provide the settings to update in the request body.
      operationId: updateDNSServerSettings
      parameters:
      - explode: false
        in: path
        name: dns_server_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DNSServerSettingsUpdate"
        required: true
      responses:
        "200":
          description: DNS server settings updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
        "404":
          description: DNS server not found
      summary: Updates DNS server settings
      tags:
      - DNS servers
  /oapi/v1/filter_lists:
    get:
      description: |
        Returns available filter lists for the current locale.
        Use this endpoint to retrieve filter definitions before applying them to DNS server settings.
      operationId: listFilterLists
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/FilterList"
                type: array
          description: Returns list of filters
      summary: Lists filter lists
      tags:
      - Reference data
  /oapi/v1/oauth_authorize:
    get:
      description: |
        Initiates an OAuth2 authorization flow by redirecting the user to the AdGuard authorization server.

        Use `response_type=token` for the Implicit grant or `response_type=code` together with `code_challenge` and `code_challenge_method=S256` for the Authorization Code + PKCE flow.

        On success the authorization server redirects back to `redirect_uri`. For the Implicit grant the access token is embedded in the URL fragment (`#access_token=...`). For the Authorization Code flow a one-time `code` is appended as a query parameter and must be exchanged for tokens via the `/oauth_token` endpoint.
      operationId: authorize
      parameters:
      - description: OAuth2 client identifier
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - description: "Type of grant. Use response_type=token for Implicit grant, response_type=code\
          \ for Authorization Code + PKCE flow"
        explode: true
        in: query
        name: response_type
        required: true
        schema:
          type: string
        style: form
      - description: A successful response results in a redirect to this URL
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
        style: form
      - description: "An opaque value, used for security purposes"
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: Affiliate identifier
        explode: true
        in: query
        name: aid
        required: false
        schema:
          type: string
        style: form
      - description: Affiliate source
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - description: "PKCE code challenge: BASE64URL(SHA256(code_verifier)). Required\
          \ for Authorization Code + PKCE flow"
        explode: true
        in: query
        name: code_challenge
        required: false
        schema:
          type: string
        style: form
      - description: PKCE challenge method. Only "S256" is supported
        explode: true
        in: query
        name: code_challenge_method
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          description: Redirect to the authorization server
      security: []
      summary: Redirects to the authorization endpoint
      tags:
      - Authentication
  /oapi/v1/oauth_token:
    post:
      description: |
        Obtains an access token using one of three grant types:

        **1. Password + optional 2FA** (`grant_type=password`):
        Provide `username` and `password`. If two-factor authentication is enabled on the account,
        also provide `mfa_token`.

        **2. Refresh token** (`grant_type=refresh_token`):
        Provide `refresh_token` to exchange it for a new access token without re-entering credentials.

        **3. Authorization Code + PKCE** (`grant_type=authorization_code`):
        Exchange an authorization code obtained via the `/oauth_authorize` endpoint.
        Provide `code`, `client_id`, `code_verifier`, and `redirect_uri`.
      operationId: accessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AccessTokenCredentials"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
          description: Access token issued
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Missing required parameters
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccessTokenErrorResponse"
          description: "Invalid credentials, MFA token, refresh token, authorization\
            \ code, or PKCE code_verifier provided"
      security: []
      summary: Issues an access token
      tags:
      - Authentication
  /oapi/v1/parental_control_categories:
    get:
      description: |
        Returns all available parental control filtering categories.
        Use this endpoint to retrieve categories for configuring parental control settings on a DNS server.
      operationId: listParentalControlFilteringCategories
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/ParentalControlFilteringCategory"
                type: array
          description: Returns list of parental control filtering categories
      summary: Lists all parental control filtering categories
      tags:
      - Reference data
  /oapi/v1/query_log:
    delete:
      description: |
        Clears all query log entries for the current account.
        Use this endpoint to remove stored DNS query records.
      operationId: clearQueryLog
      responses:
        "202":
          description: Query log cleared
      summary: Clears query log
      tags:
      - Query log
    get:
      description: |
        Returns the query log for the specified time period.
        Use filters to narrow the result set and cursor to paginate through the results.
        The log contains DNS query records with filtering, device, and domain information.
      operationId: getQueryLog
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by companies
        explode: true
        in: query
        name: companies
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by statuses
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: "#/components/schemas/FilteringActionStatus"
          type: array
          uniqueItems: true
        style: form
      - description: Filter by categories
        explode: true
        in: query
        name: categories
        required: false
        schema:
          items:
            $ref: "#/components/schemas/CategoryType"
          type: array
          uniqueItems: true
        style: form
      - description: Filter by domain name
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 1000
          type: integer
        style: form
      - description: Pagination cursor from previous response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryLogResponse"
          description: Returns query log
      summary: Gets query log
      tags:
      - Query log
  /oapi/v1/revoke_token:
    post:
      description: |
        Permanently invalidates a refresh token.
        After revocation the token cannot be used to obtain new access tokens.
        Revoke the refresh token when the user logs out or when you suspect the token has been compromised.
      operationId: revokeToken
      parameters:
      - description: Refresh token to revoke
        explode: true
        in: query
        name: refresh_token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Refresh token revoked
      security: []
      summary: Revokes a refresh token
      tags:
      - Authentication
  /oapi/v1/stats/blocked_parental_categories:
    get:
      description: |
        Returns DNS query statistics for requests blocked by parental control categories.
        Use the time range and filters to narrow the results.
      operationId: getBlockedParentalCategoryStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockedParentalCategoryQueriesStatsList"
          description: Returns blocked parental control categories statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets statistics for blocked parental control categories
      tags:
      - Statistics
  /oapi/v1/stats/categories:
    get:
      description: |
        Returns DNS query statistics grouped by filtering category for the specified period.
        Use the time range and filters to narrow the results.
      operationId: getCategoriesQueriesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryQueriesStatsList"
          description: Returns categories statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets categories statistics
      tags:
      - Statistics
  /oapi/v1/stats/companies:
    get:
      description: |
        Returns DNS query statistics grouped by company for the specified period.
        Response is paginated, items are arranged by query count.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getCompaniesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyQueriesStatsList"
          description: Returns companies statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets companies statistics
      tags:
      - Statistics
  /oapi/v1/stats/companies/detailed:
    get:
      description: |
        Returns detailed DNS query statistics grouped by company for the specified period.
        Response is paginated, items are arranged by query count.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getDetailedCompaniesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDetailedQueriesStatsList"
          description: Returns detailed companies statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets detailed companies statistics
      tags:
      - Statistics
  /oapi/v1/stats/countries:
    get:
      description: |
        Returns DNS query statistics grouped by country for the specified period.
        Response is paginated, items are arranged by query count.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getCountriesQueriesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryQueriesStatsList"
          description: Returns countries statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets countries statistics
      tags:
      - Statistics
  /oapi/v1/stats/devices:
    get:
      description: |
        Returns DNS query statistics grouped by device for the specified period.
        Response is paginated, items are arranged by query count.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getDevicesQueriesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceQueriesStatsList"
          description: Returns devices statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets devices statistics
      tags:
      - Statistics
  /oapi/v1/stats/domains:
    get:
      description: |
        Returns DNS query statistics grouped by domain for the specified period.
        Response is paginated, items are arranged by query count.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getDomainsQueriesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainQueriesStatsList"
          description: Returns domains statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets domains statistics
      tags:
      - Statistics
  /oapi/v1/stats/time:
    get:
      description: |
        Returns time-based DNS query statistics for the specified period.
        Use the time range parameters to define the period and filters to narrow the results.
      operationId: getTimeQueriesStats
      parameters:
      - description: Time from in milliseconds (inclusive)
        explode: true
        in: query
        name: time_from_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Time to in milliseconds (inclusive)
        explode: true
        in: query
        name: time_to_millis
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by countries
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeQueriesStatsList"
          description: Returns time statistics
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation failed
      summary: Gets time statistics
      tags:
      - Statistics
  /oapi/v1/web_services:
    get:
      description: |
        Returns a list of known web services with their identifiers and icons.
        Use this endpoint to get service data for parental control configuration.
      operationId: listWebServices
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/WebService"
                type: array
          description: Returns list of web services
      summary: Lists web services
      tags:
      - Reference data
  /oapi/v2/devices:
    get:
      description: |
        Lists devices according to the specified parameters.
        Response is paginated, items are arranged in the newest-first order.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getDevices
      parameters:
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter by devices
        explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Search by device name or ID
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevicesResponse"
          description: Returns list of devices
      summary: Lists devices
      tags:
      - Devices
  /oapi/v2/dns_servers:
    get:
      description: |
        Lists DNS servers according to the specified parameters.
        By default there is at least one default server.
        Response is paginated, items are arranged in the newest-first order.
        For the initial request a default limit is applied if not specified.
        For the subsequent requests cursor must be provided (limit can be omitted).
        Filtering parameters, if specified for the initial request, must be provided on each page request as well.
      operationId: getDnsServers
      parameters:
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Pagination limit (may be overridden by cursor)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: Filter by DNS servers
        explode: true
        in: query
        name: dns_servers
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Search by DNS server name or ID
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsServersResponse"
          description: Returns list of DNS servers
      summary: Lists DNS servers
      tags:
      - DNS servers
components:
  schemas:
    AccessTokenCredentials:
      description: Access token request parameters
      properties:
        client_id:
          description: OAuth2 client identifier
          example: dns_ios
          type: string
        code:
          description: Authorization code received from the authorization server
          example: auth_code_xyz
          type: string
        code_verifier:
          description: PKCE code verifier (43-128 chars)
          example: E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM
          type: string
        grant_type:
          description: "OAuth2 grant type. Accepted values: \"password\", \"refresh_token\"\
            , \"authorization_code\". Required for Authorization Code + PKCE flow."
          type: string
        mfa_token:
          description: Two-Factor authentication token (if enabled in account settings)
          example: "123456"
          type: string
        password:
          description: Account password
          example: your_password
          type: string
        redirect_uri:
          description: Redirect URI used in the authorization request
          example: https://example.com/callback
          type: string
        refresh_token:
          description: Refresh token
          example: H3SW6YFJ-tOPe0FQCM1Jd6VnMiA
          type: string
        username:
          description: Account email
          example: user@example.com
          type: string
      required:
      - grant_type
      type: object
    AccessTokenErrorResponse:
      description: Access token error response
      example:
        error: unauthorized
        error_code: 2fa_required
        error_description: 2FA is required
      properties:
        error:
          description: Error type
          example: unauthorized
          type: string
        error_code:
          description: Error code
          example: 2fa_required
          type: string
        error_description:
          description: Error description
          example: 2FA is required
          type: string
      type: object
    AccessTokenResponse:
      description: Access token success response
      example:
        access_token: jTFho_aymtN20pZR5RRSQAzd81I
        expires_in: 2620978
        refresh_token: H3SW6YFJ-tOPe0FQCM1Jd6VnMiA
        token_type: bearer
      properties:
        access_token:
          description: Access token
          example: jTFho_aymtN20pZR5RRSQAzd81I
          type: string
        expires_in:
          description: The lifetime in seconds of the access token
          example: 2620978
          format: int32
          type: integer
        refresh_token:
          description: Refresh token
          example: H3SW6YFJ-tOPe0FQCM1Jd6VnMiA
          type: string
        token_type:
          description: The type of the token issued
          example: bearer
          type: string
      required:
      - expires_in
      type: object
    AccountLimits:
      description: Account limits
      example:
        access_rules:
          limit: 100
          used: 5
        dedicated_ipv4:
          limit: 100
          used: 5
        devices:
          limit: 100
          used: 5
        dns_servers:
          limit: 100
          used: 5
        requests:
          limit: 100
          used: 5
        user_rules:
          limit: 100
          used: 5
      properties:
        access_rules:
          $ref: "#/components/schemas/Limit"
        dedicated_ipv4:
          $ref: "#/components/schemas/Limit"
        devices:
          $ref: "#/components/schemas/Limit"
        dns_servers:
          $ref: "#/components/schemas/Limit"
        requests:
          $ref: "#/components/schemas/Limit"
        user_rules:
          $ref: "#/components/schemas/Limit"
      required:
      - access_rules
      - dedicated_ipv4
      - devices
      - dns_servers
      - requests
      - user_rules
      type: object
    BlockedFilteringCategoryUpdate:
      description: Blocked filtering category update action
      example:
        enabled: true
        id: adult
      properties:
        enabled:
          description: Whether category blocking is enabled
          type: boolean
        id:
          description: Category identifier
          example: adult
          maxLength: 64
          minLength: 1
          type: string
      required:
      - id
      type: object
    BlockedParentalCategoryQueriesStats:
      description: Blocked Parental control Category queries stats
      example:
        blocked: 14
        category: audio
      properties:
        blocked:
          description: Blocked queries count
          example: 14
          format: int64
          type: integer
        category:
          description: Category
          example: audio
          type: string
      required:
      - blocked
      - category
      type: object
    BlockedParentalCategoryQueriesStatsList:
      description: Blocked Parental control Category queries stats
      example:
        stats:
        - blocked: 14
          category: audio
        - blocked: 14
          category: audio
      properties:
        stats:
          description: Stats for blocked Parental control Categories
          items:
            $ref: "#/components/schemas/BlockedParentalCategoryQueriesStats"
          type: array
      required:
      - stats
      type: object
    BlockedWebService:
      description: Blocked web-service
      example:
        enabled: true
        id: 9gag
      properties:
        enabled:
          description: Whether service blocking is enabled
          type: boolean
        id:
          description: Web-service identifier
          example: 9gag
          type: string
      required:
      - enabled
      - id
      type: object
    BlockedWebServiceUpdate:
      description: Blocked web-service update action
      example:
        enabled: true
        id: 9gag
      properties:
        enabled:
          description: Whether service blocking is enabled
          type: boolean
        id:
          description: Web-service identifier
          example: 9gag
          maxLength: 64
          minLength: 1
          type: string
      required:
      - id
      type: object
    BlockingMode:
      description: Blocking mode
      enum:
      - NONE
      - NULL_IP
      - REFUSED
      - NXDOMAIN
      - CUSTOM_IP
      example: REFUSED
      type: string
    BlockingModeSettings:
      description: Blocking mode settings
      example:
        blocking_mode: REFUSED
        ipv4_blocking_address: 0.0.0.0
        ipv6_blocking_address: "::"
      properties:
        blocking_mode:
          $ref: "#/components/schemas/BlockingMode"
        ipv4_blocking_address:
          description: Custom IPv4 address for blocking mode CUSTOM IP
          example: 0.0.0.0
          type: string
        ipv6_blocking_address:
          description: Custom IPv6 address for blocking mode CUSTOM IP
          example: "::"
          type: string
      required:
      - blocking_mode
      type: object
    BlockingModeSettingsUpdate:
      description: Blocking mode settings
      example:
        blocking_mode: REFUSED
        ipv4_blocking_address: 0.0.0.0
        ipv6_blocking_address: "::"
      properties:
        blocking_mode:
          $ref: "#/components/schemas/BlockingMode"
        ipv4_blocking_address:
          description: Custom IPv4 address for blocking mode CUSTOM IP
          example: 0.0.0.0
          type: string
        ipv6_blocking_address:
          description: Custom IPv6 address for blocking mode CUSTOM IP
          example: "::"
          type: string
      required:
      - blocking_mode
      type: object
    CategoryQueriesStats:
      description: Category queries stats
      example:
        category_type: ADS
        queries: 86
      properties:
        category_type:
          $ref: "#/components/schemas/CategoryType"
        queries:
          description: Queries
          example: 86
          format: int64
          type: integer
      required:
      - category_type
      - queries
      type: object
    CategoryQueriesStatsList:
      description: Category query statistics list
      example:
        stats:
        - category_type: ADS
          queries: 86
        - category_type: ADS
          queries: 86
      properties:
        stats:
          description: List of queries stats
          items:
            $ref: "#/components/schemas/CategoryQueriesStats"
          type: array
      required:
      - stats
      type: object
    CategoryType:
      description: Category type
      enum:
      - ADS
      - TRACKERS
      - SOCIAL_MEDIA
      - CDN
      - OTHERS
      type: string
    CompanyDetailedQueriesStats:
      description: Company detailed queries stats
      example:
        company_name: Google
        domains_count: 100
        top_blocked_domain: advertising.google.com
        top_queries_domain: ads.apple.com
        value:
          blocked: 14
          companies: 4
          queries: 86
      properties:
        company_name:
          description: Company name
          example: Google
          type: string
        domains_count:
          description: Domains count
          example: 100
          format: int32
          type: integer
        top_blocked_domain:
          description: Top domain by blocked queries
          example: advertising.google.com
          type: string
        top_queries_domain:
          description: Top domain by queries
          example: ads.apple.com
          type: string
        value:
          $ref: "#/components/schemas/QueriesStats"
      required:
      - company_name
      - domains_count
      - top_queries_domain
      - value
      type: object
    CompanyDetailedQueriesStatsList:
      description: Company detailed queries statistics
      example:
        navigation:
          next:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
          prev:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
        pages:
        - current: false
          page_cursor: 1645451419441:1:20:3118
          page_number: 1
        - current: false
          page_cursor: 1645451419441:1:20:3118
          page_number: 1
        stats:
        - company_name: Google
          domains_count: 100
          top_blocked_domain: advertising.google.com
          top_queries_domain: ads.apple.com
          value:
            blocked: 14
            companies: 4
            queries: 86
        - company_name: Google
          domains_count: 100
          top_blocked_domain: advertising.google.com
          top_queries_domain: ads.apple.com
          value:
            blocked: 14
            companies: 4
            queries: 86
      properties:
        navigation:
          $ref: "#/components/schemas/Navigation"
        pages:
          deprecated: true
          description: Pagination. Field is deprecated and scheduled for removal in
            January 2027. Use `navigation` instead
          items:
            $ref: "#/components/schemas/Page"
          type: array
        stats:
          description: List of queries stats
          items:
            $ref: "#/components/schemas/CompanyDetailedQueriesStats"
          type: array
      required:
      - navigation
      - stats
      type: object
    CompanyQueriesStats:
      description: Company queries stats
      example:
        company_name: Google
        value:
          blocked: 14
          companies: 4
          queries: 86
      properties:
        company_name:
          description: Company name
          example: Google
          type: string
        value:
          $ref: "#/components/schemas/QueriesStats"
      required:
      - company_name
      - value
      type: object
    CompanyQueriesStatsList:
      description: Companies queries statistics
      example:
        navigation:
          next:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
          prev:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
        stats:
        - company_name: Google
          value:
            blocked: 14
            companies: 4
            queries: 86
        - company_name: Google
          value:
            blocked: 14
            companies: 4
            queries: 86
      properties:
        navigation:
          $ref: "#/components/schemas/Navigation"
        stats:
          description: List of queries stats
          items:
            $ref: "#/components/schemas/CompanyQueriesStats"
          type: array
      required:
      - navigation
      - stats
      type: object
    ConnectDeviceType:
      description: Connect Device Type
      enum:
      - WINDOWS
      - ANDROID
      - MAC
      - IOS
      - LINUX
      - ROUTER
      - SMART_TV
      - GAME_CONSOLE
      - UNKNOWN
      example: ANDROID
      type: string
    CountryQueriesStats:
      description: Country queries stats
      example:
        country: US
        value:
          blocked: 14
          companies: 4
          queries: 86
      properties:
        country:
          description: Country code
          example: US
          type: string
        value:
          $ref: "#/components/schemas/QueriesStats"
      required:
      - country
      - value
      type: object
    CountryQueriesStatsList:
      description: Countries queries statistics
      example:
        navigation:
          next:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
          prev:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
        stats:
        - country: US
          value:
            blocked: 14
            companies: 4
            queries: 86
        - country: US
          value:
            blocked: 14
            companies: 4
            queries: 86
      properties:
        navigation:
          $ref: "#/components/schemas/Navigation"
        stats:
          description: List of queries stats
          items:
            $ref: "#/components/schemas/CountryQueriesStats"
          type: array
      required:
      - navigation
      - stats
      type: object
    DNSAddresses:
      description: DNS connection information
      example:
        adguard_dns_over_https_url: adguard:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_dns_over_https_with_auth_url: adguard:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_dns_over_quic_url: adguard:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_dns_over_tls_url: adguard:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_vpn_dns_over_https_url: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_vpn_dns_over_https_with_auth_url: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_vpn_dns_over_quic_url: adguardvpn:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        adguard_vpn_dns_over_tls_url: adguardvpn:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
        dns_over_https_url: https://b3e82cd1.adguard-dns.com/dns-query
        dns_over_https_with_auth_url: https://b3e82cd1:jaNh9iXS@d.adguard-dns.com/dns-query
        dns_over_quic_url: quic://b3e82cd1.adguard-dns.com
        dns_over_tls_url: tls://b3e82cd1.adguard-dns.com
        ip_addresses:
        - ip_address: 94.140.14.15
          type: V4
        - ip_address: 94.140.14.15
          type: V4
      properties:
        adguard_dns_over_https_url:
          description: AdGuard DNS-over-HTTPS url
          example: adguard:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_dns_over_https_with_auth_url:
          description: AdGuard DNS-over-HTTPS with authentication url
          example: adguard:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_dns_over_quic_url:
          description: AdGuard DNS-over-QUIC url
          example: adguard:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_dns_over_tls_url:
          description: AdGuard DNS-over-TLS url
          example: adguard:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_vpn_dns_over_https_url:
          description: AdGuard VPN DNS-over-HTTPS url
          example: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_vpn_dns_over_https_with_auth_url:
          description: AdGuard VPN DNS-over-HTTPS with authentication url
          example: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_vpn_dns_over_quic_url:
          description: AdGuard VPN DNS-over-QUIC url
          example: adguardvpn:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        adguard_vpn_dns_over_tls_url:
          description: AdGuard VPN DNS-over-TLS url
          example: adguardvpn:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          type: string
        dns_over_https_url:
          description: DNS-over-HTTPS
          example: https://b3e82cd1.adguard-dns.com/dns-query
          type: string
        dns_over_https_with_auth_url:
          description: DNS-over-HTTPS with authentication
          example: https://b3e82cd1:jaNh9iXS@d.adguard-dns.com/dns-query
          type: string
        dns_over_quic_url:
          description: DNS-over-QUIC
          example: quic://b3e82cd1.adguard-dns.com
          type: string
        dns_over_tls_url:
          description: DNS-over-TLS
          example: tls://b3e82cd1.adguard-dns.com
          type: string
        ip_addresses:
          description: IP addresses
          items:
            $ref: "#/components/schemas/IpAddress"
          type: array
      required:
      - adguard_dns_over_https_url
      - adguard_dns_over_quic_url
      - adguard_dns_over_tls_url
      - adguard_vpn_dns_over_https_url
      - adguard_vpn_dns_over_quic_url
      - adguard_vpn_dns_over_tls_url
      - dns_over_https_url
      - dns_over_quic_url
      - dns_over_tls_url
      type: object
    DNSServer:
      description: DNS server
      example:
        default: false
        device_ids:
        - device_ids
        - device_ids
        devices_count: 5
        id: a9f29be1
        name: Main DNS server
        settings:
          access_settings:
            allowed_clients:
            - 192.168.1.0/24
            block_known_scanners: true
            blocked_clients:
            - 10.0.0.0/8
            blocked_domain_rules:
            - example.org
            enabled: true
          auto_connect_devices_enabled: true
          block_chrome_prefetch: true
          block_firefox_canary: true
          block_private_relay: true
          block_ttl_seconds: 3600
          blocking_mode_settings:
            blocking_mode: REFUSED
            ipv4_blocking_address: 0.0.0.0
            ipv6_blocking_address: "::"
          filter_lists_settings:
            enabled: true
            filter_list:
            - enabled: true
              filter_id: adguard_dns_filter
            - enabled: true
              filter_id: adguard_dns_filter
          ip_log_enabled: true
          parental_control_settings:
            block_adult_websites_enabled: true
            blocked_services:
            - enabled: true
              id: 9gag
            - enabled: true
              id: 9gag
            enabled: true
            engines_safe_search_enabled: true
            screen_time_schedule:
              daily_schedule:
              - day_of_week: MONDAY
                enabled: true
                from_time:
                  hours: 1
                  minutes: 35
                to_time:
                  hours: 1
                  minutes: 35
              - day_of_week: MONDAY
                enabled: true
                from_time:
                  hours: 1
                  minutes: 35
                to_time:
                  hours: 1
                  minutes: 35
            youtube_safe_search_enabled: true
          protection_enabled: true
          safebrowsing_settings:
            block_dangerous_domains: true
            block_nrd: true
            blocking_mode_settings:
              blocking_mode: REFUSED
              ipv4_blocking_address: 0.0.0.0
              ipv6_blocking_address: "::"
            enabled: true
            homoglyph_protection_enabled: true
            typosquatting_protection_enabled: true
          user_rules_settings:
            enabled: true
            rules:
            - '||example.org^'
            rules_count: 50
      properties:
        default:
          description: Whether this is the default DNS server
          example: false
          type: boolean
        device_ids:
          deprecated: true
          description: Scheduled for removal in January 2027
          items:
            deprecated: true
            description: Scheduled for removal in January 2027
            type: string
          type: array
        devices_count:
          description: Connected devices count
          example: 5
          format: int32
          type: integer
        id:
          description: DNS server ID
          example: a9f29be1
          type: string
        name:
          description: Name
          example: Main DNS server
          type: string
        settings:
          $ref: "#/components/schemas/DNSServerSettings"
      required:
      - default
      - devices_count
      - id
      - name
      - settings
      type: object
    DNSServerAccessSettings:
      description: DNS server access settings
      example:
        allowed_clients:
        - 192.168.1.0/24
        block_known_scanners: true
        blocked_clients:
        - 10.0.0.0/8
        blocked_domain_rules:
        - example.org
        enabled: true
      properties:
        allowed_clients:
          description: "Allowed IP's, CIDR's or ASN's"
          example:
          - 192.168.1.0/24
          items:
            description: "Allowed IP's, CIDR's or ASN's"
            example: "[\"192.168.1.0/24\"]"
            type: string
          type: array
        block_known_scanners:
          description: Whether known scanners should be blocked
          type: boolean
        blocked_clients:
          description: "Blocked IP's, CIDR's or ASN's"
          example:
          - 10.0.0.0/8
          items:
            description: "Blocked IP's, CIDR's or ASN's"
            example: "[\"10.0.0.0/8\"]"
            type: string
          type: array
        blocked_domain_rules:
          description: Blocked domain rules
          example:
          - example.org
          items:
            description: Blocked domain rules
            example: "[\"example.org\"]"
            type: string
          type: array
        enabled:
          description: Whether access settings are enabled
          type: boolean
      required:
      - allowed_clients
      - block_known_scanners
      - blocked_clients
      - blocked_domain_rules
      - enabled
      type: object
    DNSServerAccessSettingsUpdate:
      description: DNS server access settings update
      example:
        allowed_clients:
        - 192.168.1.0/24
        block_known_scanners: true
        blocked_clients:
        - 10.0.0.0/8
        blocked_domain_rules:
        - example.org
        enabled: true
      properties:
        allowed_clients:
          description: "Allowed IP's, CIDR's or ASN's"
          example:
          - 192.168.1.0/24
          items:
            description: "Allowed IP's, CIDR's or ASN's"
            example: "[\"192.168.1.0/24\"]"
            type: string
          type: array
        block_known_scanners:
          description: Whether known scanners should be blocked
          type: boolean
        blocked_clients:
          description: "Blocked IP's, CIDR's or ASN's"
          example:
          - 10.0.0.0/8
          items:
            description: "Blocked IP's, CIDR's or ASN's"
            example: "[\"10.0.0.0/8\"]"
            type: string
          type: array
        blocked_domain_rules:
          description: Blocked domain rules
          example:
          - example.org
          items:
            description: Blocked domain rules
            example: "[\"example.org\"]"
            maxLength: 1024
            minLength: 0
            type: string
          type: array
        enabled:
          description: Whether access settings are enabled
          type: boolean
      type: object
    DNSServerCreate:
      description: DNS server create request
      example:
        name: My profile
        settings:
          access_settings:
            allowed_clients:
            - 192.168.1.0/24
            block_known_scanners: true
            blocked_clients:
            - 10.0.0.0/8
            blocked_domain_rules:
            - example.org
            enabled: true
          auto_connect_devices_enabled: true
          block_chrome_prefetch: true
          block_firefox_canary: true
          block_private_relay: true
          block_ttl_seconds: 3600
          blocking_mode_settings:
            blocking_mode: REFUSED
            ipv4_blocking_address: 0.0.0.0
            ipv6_blocking_address: "::"
          filter_lists_settings:
            enabled: true
            filter_list:
            - enabled: true
              filter_id: adguard_dns_filter
            - enabled: true
              filter_id: adguard_dns_filter
          ip_log_enabled: true
          parental_control_settings:
            block_adult_websites_enabled: true
            blocked_filtering_categories:
            - enabled: true
              id: adult
            - enabled: true
              id: adult
            blocked_services:
            - enabled: true
              id: 9gag
            - enabled: true
              id: 9gag
            enabled: true
            engines_safe_search_enabled: true
            screen_time_schedule:
              daily_schedule:
              - day_of_week: MONDAY
                enabled: true
                from_time:
                  hours: 1
                  minutes: 35
                to_time:
                  hours: 1
                  minutes: 35
              - day_of_week: MONDAY
                enabled: true
                from_time:
                  hours: 1
                  minutes: 35
                to_time:
                  hours: 1
                  minutes: 35
            youtube_safe_search_enabled: true
          protection_enabled: true
          safebrowsing_settings:
            block_dangerous_domains: true
            block_nrd: true
            blocking_mode_settings:
              blocking_mode: REFUSED
              ipv4_blocking_address: 0.0.0.0
              ipv6_blocking_address: "::"
            enabled: true
            homoglyph_protection_enabled: true
            typosquatting_protection_enabled: true
          user_rules_settings:
            enabled: true
            rules:
            - '||example.org^'
      properties:
        name:
          description: DNS server name
          example: My profile
          maxLength: 64
          minLength: 1
          type: string
        settings:
          $ref: "#/components/schemas/DNSServerSettingsUpdate"
      required:
      - name
      type: object
    DNSServerSettings:
      description: DNS server settings
      example:
        access_settings:
          allowed_clients:
          - 192.168.1.0/24
          block_known_scanners: true
          blocked_clients:
          - 10.0.0.0/8
          blocked_domain_rules:
          - example.org
          enabled: true
        auto_connect_devices_enabled: true
        block_chrome_prefetch: true
        block_firefox_canary: true
        block_private_relay: true
        block_ttl_seconds: 3600
        blocking_mode_settings:
          blocking_mode: REFUSED
          ipv4_blocking_address: 0.0.0.0
          ipv6_blocking_address: "::"
        filter_lists_settings:
          enabled: true
          filter_list:
          - enabled: true
            filter_id: adguard_dns_filter
          - enabled: true
            filter_id: adguard_dns_filter
        ip_log_enabled: true
        parental_control_settings:
          block_adult_websites_enabled: true
          blocked_services:
          - enabled: true
            id: 9gag
          - enabled: true
            id: 9gag
          enabled: true
          engines_safe_search_enabled: true
          screen_time_schedule:
            daily_schedule:
            - day_of_week: MONDAY
              enabled: true
              from_time:
                hours: 1
                minutes: 35
              to_time:
                hours: 1
                minutes: 35
            - day_of_week: MONDAY
              enabled: true
              from_time:
                hours: 1
                minutes: 35
              to_time:
                hours: 1
                minutes: 35
          youtube_safe_search_enabled: true
        protection_enabled: true
        safebrowsing_settings:
          block_dangerous_domains: true
          block_nrd: true
          blocking_mode_settings:
            blocking_mode: REFUSED
            ipv4_blocking_address: 0.0.0.0
            ipv6_blocking_address: "::"
          enabled: true
          homoglyph_protection_enabled: true
          typosquatting_protection_enabled: true
        user_rules_settings:
          enabled: true
          rules:
          - '||example.org^'
          rules_count: 50
      properties:
        access_settings:
          $ref: "#/components/schemas/DNSServerAccessSettings"
        auto_connect_devices_enabled:
          description: Whether to allow auto-connecting through link type
          type: boolean
        block_chrome_prefetch:
          description: Whether to block Google Chrome prefetch proxy
          type: boolean
        block_firefox_canary:
          description: Whether Firefox Canary should be blocked
          type: boolean
        block_private_relay:
          description: Whether private relay should be blocked
          type: boolean
        block_ttl_seconds:
          description: Blocked response TTL in seconds
          example: 3600
          format: int32
          type: integer
        blocking_mode_settings:
          $ref: "#/components/schemas/BlockingModeSettings"
        filter_lists_settings:
          $ref: "#/components/schemas/FilterListsSettings"
        ip_log_enabled:
          description: Whether to log IP addresses of requests
          type: boolean
        parental_control_settings:
          $ref: "#/components/schemas/ParentalControlSettings"
        protection_enabled:
          description: Whether protection is enabled
          type: boolean
        safebrowsing_settings:
          $ref: "#/components/schemas/SafebrowsingSettings"
        user_rules_settings:
          $ref: "#/components/schemas/UserRulesSettings"
      required:
      - access_settings
      - auto_connect_devices_enabled
      - block_chrome_prefetch
      - block_firefox_canary
      - block_private_relay
      - block_ttl_seconds
      - blocking_mode_settings
      - filter_lists_settings
      - ip_log_enabled
      - parental_control_settings
      - protection_enabled
      - safebrowsing_settings
      - user_rules_settings
      type: object
    DNSServerSettingsUpdate:
      description: DNS server settings update request
      example:
        access_settings:
          allowed_clients:
          - 192.168.1.0/24
          block_known_scanners: true
          blocked_clients:
          - 10.0.0.0/8
          blocked_domain_rules:
          - example.org
          enabled: true
        auto_connect_devices_enabled: true
        block_chrome_prefetch: true
        block_firefox_canary: true
        block_private_relay: true
        block_ttl_seconds: 3600
        blocking_mode_settings:
          blocking_mode: REFUSED
          ipv4_blocking_address: 0.0.0.0
          ipv6_blocking_address: "::"
        filter_lists_settings:
          enabled: true
          filter_list:
          - enabled: true
            filter_id: adguard_dns_filter
          - enabled: true
            filter_id: adguard_dns_filter
        ip_log_enabled: true
        parental_control_settings:
          block_adult_websites_enabled: true
          blocked_filtering_categories:
          - enabled: true
            id: adult
          - enabled: true
            id: adult
          blocked_services:
          - enabled: true
            id: 9gag
          - enabled: true
            id: 9gag
          enabled: true
          engines_safe_search_enabled: true
          screen_time_schedule:
            daily_schedule:
            - day_of_week: MONDAY
              enabled: true
              from_time:
                hours: 1
                minutes: 35
              to_time:
                hours: 1
                minutes: 35
            - day_of_week: MONDAY
              enabled: true
              from_time:
                hours: 1
                minutes: 35
              to_time:
                hours: 1
                minutes: 35
          youtube_safe_search_enabled: true
        protection_enabled: true
        safebrowsing_settings:
          block_dangerous_domains: true
          block_nrd: true
          blocking_mode_settings:
            blocking_mode: REFUSED
            ipv4_blocking_address: 0.0.0.0
            ipv6_blocking_address: "::"
          enabled: true
          homoglyph_protection_enabled: true
          typosquatting_protection_enabled: true
        user_rules_settings:
          enabled: true
          rules:
          - '||example.org^'
      properties:
        access_settings:
          $ref: "#/components/schemas/DNSServerAccessSettingsUpdate"
        auto_connect_devices_enabled:
          description: Whether to allow auto-connecting through link type
          type: boolean
        block_chrome_prefetch:
          description: Whether to block Google Chrome prefetch proxy
          type: boolean
        block_firefox_canary:
          description: Whether Firefox Canary should be blocked
          type: boolean
        block_private_relay:
          description: Whether private relay should be blocked
          type: boolean
        block_ttl_seconds:
          description: TTL for blocked request
          example: 3600
          format: int32
          maximum: 3600
          minimum: 0
          type: integer
        blocking_mode_settings:
          $ref: "#/components/schemas/BlockingModeSettingsUpdate"
        filter_lists_settings:
          $ref: "#/components/schemas/FilterListsSettingsUpdate"
        ip_log_enabled:
          description: Whether to log IP addresses of requests
          type: boolean
        parental_control_settings:
          $ref: "#/components/schemas/ParentalControlSettingsUpdate"
        protection_enabled:
          description: Whether protection is enabled
          type: boolean
        safebrowsing_settings:
          $ref: "#/components/schemas/SafebrowsingSettingsUpdate"
        user_rules_settings:
          $ref: "#/components/schemas/UserRulesSettingsUpdate"
      type: object
    DNSServerUpdate:
      description: DNS server update request
      example:
        name: My profile
      properties:
        name:
          description: DNS server name
          example: My profile
          maxLength: 64
          minLength: 1
          type: string
      type: object
    DayOfWeek:
      description: Day of week
      enum:
      - MONDAY
      - TUESDAY
      - WEDNESDAY
      - THURSDAY
      - FRIDAY
      - SATURDAY
      - SUNDAY
      type: string
    DedicatedIPv4Address:
      description: Dedicated IPv4 address
      example:
        device_id: b3e82cd1
        ip: 94.140.14.15
      properties:
        device_id:
          description: "Linked device ID, or null if address is vacant"
          example: b3e82cd1
          type: string
        ip:
          description: IP address
          example: 94.140.14.15
          type: string
      required:
      - ip
      type: object
    DedicatedIps:
      description: Dedicated IPs
      example:
        ipv4:
        - 94.140.14.15
        ipv4_limit:
          limit: 100
          used: 5
        ipv6:
        - 2a10:50c0::ad1:ff
      properties:
        ipv4:
          description: Dedicated IPv4 address
          example:
          - 94.140.14.15
          items:
            description: Dedicated IPv4 address
            example: "[\"94.140.14.15\"]"
            type: string
          type: array
        ipv4_limit:
          $ref: "#/components/schemas/Limit"
        ipv6:
          description: Dedicated IPv6 address
          example:
          - 2a10:50c0::ad1:ff
          items:
            description: Dedicated IPv6 address
            example: "[\"2a10:50c0::ad1:ff\"]"
            type: string
          type: array
      required:
      - ipv4
      - ipv4_limit
      - ipv6
      type: object
    Device:
      description: Device
      example:
        device_type: ANDROID
        dns_addresses:
          adguard_dns_over_https_url: adguard:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_dns_over_https_with_auth_url: adguard:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_dns_over_quic_url: adguard:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_dns_over_tls_url: adguard:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_vpn_dns_over_https_url: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_vpn_dns_over_https_with_auth_url: adguardvpn:add_dns_server?address=https%3A%2F%2Ff3750181:jaNh9iXS@.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_vpn_dns_over_quic_url: adguardvpn:add_dns_server?address=quic%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          adguard_vpn_dns_over_tls_url: adguardvpn:add_dns_server?address=tls%3A%2F%2Ff3750181.d.adguard.ch%2Fdns-query%26name%3DAdGuard%20Personal%20DNS
          dns_over_https_url: https://b3e82cd1.adguard-dns.com/dns-query
          dns_over_https_with_auth_url: https://b3e82cd1:jaNh9iXS@d.adguard-dns.com/dns-query
          dns_over_quic_url: quic://b3e82cd1.adguard-dns.com
          dns_over_tls_url: tls://b3e82cd1.adguard-dns.com
          ip_addresses:
          - ip_address: 94.140.14.15
            type: V4
          - ip_address: 94.140.14.15
            type: V4
        dns_server_id: a9f29be1
        id: b3e82cd1
        name: My iphone
        settings:
          detect_doh_auth_only: true
          protection_enabled: true
      properties:
        device_type:
          $ref: "#/components/schemas/ConnectDeviceType"
        dns_addresses:
          $ref: "#/components/schemas/DNSAddresses"
        dns_server_id:
          description: DNS server ID
          example: a9f29be1
          type: string
        id:
          description: Device ID
          example: b3e82cd1
          type: string
        name:
          description: Device name
          example: My iphone
          type: string
        settings:
          $ref: "#/components/schemas/DeviceSettings"
      required:
      - device_type
      - dns_addresses
      - dns_server_id
      - id
      - name
      - settings
      type: object
    DeviceCreate:
      description: Device create request
      example:
        device_type: ANDROID
        dns_server_id: a9f29be1
        name: My phone
      properties:
        device_type:
          $ref: "#/components/schemas/ConnectDeviceType"
        dns_server_id:
          description: DNS server ID to associate the device with
          example: a9f29be1
          type: string
        name:
          description: Device name
          example: My phone
          maxLength: 64
          minLength: 1
          type: string
      required:
      - device_type
      - dns_server_id
      - name
      type: object
    DeviceQueriesStats:
      description: Device queries stats
      example:
        device_id: b3e82cd1
        last_activity_time_millis: 1655804673000
        value:
          blocked: 14
          companies: 4
          queries: 86
      properties:
        device_id:
          description: Device ID
          example: b3e82cd1
          type: string
        last_activity_time_millis:
          description: Last activity time in millis
          example: 1655804673000
          format: int64
          type: integer
        value:
          $ref: "#/components/schemas/QueriesStats"
      required:
      - device_id
      - value
      type: object
    DeviceQueriesStatsList:
      description: Devices queries statistics
      example:
        navigation:
          next:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
          prev:
            page_cursor: MTY0NTQ1MTQxOTQ0MToxOjIwOjMxMTg=
            page_number: 1
        stats:
        - device_id: b3e82cd1
          last_activity_time_millis: 1655804673000
          value:
            blocked: 14
            companies: 4
            queries: 86
        - device_id: b3e82cd1
          last_activity_time_millis: 1655804673000
          value:
            blocked: 14
            companies: 4
            queries: 86
      properties:
        navigation:
          $ref: "#/components/schemas/Navigation"
        stats:
          description: List of queries stats
          items:
            $ref: "#/components/schemas/DeviceQueriesStats"
          type: array
      required:
      - navigation
      - stats
      type: object
    DeviceSettings:
      description: Device settings response
      example:
        detect_doh_auth_only: true
        protection_enabled: true
      properties:
        detect_doh_auth_only:
          description: Whether to use only DNS-over-HTTPS with authentication
          type: boolean
        protection_enabled:
          description: Whether protection is enabled
          type: boolean
      required:
      - detect_doh_auth_only
      - protection_enabled
      type: object
    DeviceSettingsUpdate:
      description: Device settings update request
      example:
        detect_doh_auth_only: true
        protection_enabled: true
      properties:
        detect_doh_auth_only:
          description: Whether to use only DNS-over-HTTPS with authentication
          type: boolean
        protection_enabled:
          description: Whether to enable protection
          type: boolean
      type: object
    DeviceUpdate:
      description: Device update request
      example:
        device_type: ANDROID
        dns_server_id: a9f29be1
        name: My phone
      properties:
        device_type:
          $ref: "#/components/schemas/ConnectDeviceType"
        dns_server_id:
          description: DNS server ID
          example: a9f29be1
          type: string
        name:
          description: Device name
          example: My phone
          maxLength: 64
          minLength: 1
          type: string
      type: object
    DevicesResponse:
      description: Paginated devices response
[...]
